@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #120A00; /* Darker brown */
  --foreground: #FFF5A6; /* Light gold for foreground text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #120A00;
    --foreground: #FFF5A6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif; /* Modern font */
}
